/* Based on template from csslayoutgenerator.com */

body {
    font: 12px/18px'Raleway', cursive;
}

strong {
    font-weight: bold;
}

h1,
h2,
h4,
h5,
h6 {
    font-weight: bold;
}



h2 {
    font-size: 2em;
    padding: 1em 0em;
    padding-bottom: 5%;
    font-family: 'Raleway', cursive;

}



img {
    max-width: 100%;
    
  
}




a.fa.fa-instagram::before {
    font-size:2em;

}

a.fa.fa-twitter::before {
    font-size:2em;
}

a.fa.fa-facebook::before {
    font-size:2em;
}

a.fa.fa-linkedin::before {
    font-size:2em;
}


#sociale_medier_ikoner {margin-left:39%;
    margin-top:2%;
    margin-bottom: 2%;
}

#sociale_medier_ikoner_tekst h3 {
    text-align: center;
    margin-top:4%;
font-size:2em;
color:black;}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #9c845e;
  color: white;
 
 
}

.fa-twitter {
  background: #9c845e;
  color: white;
}



.fa-linkedin {
  background: #9c845e;
  color: white;
}


.fa-instagram {
  background: #9c845e;
  color: white;
}


a.smoothScroll {
    display:inline;
    padding: 12px 16px;
}



.footer-social-icons img{
 display: inline;
    margin-right:-50px;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
    background-color: #333333;
    position:relative;
    width: 100%;
    z-index: 3;
      border-bottom: 2px solid #9c845f;
}

.header ul {
    list-style: none;
    overflow: hidden;
    background-color: white;

}

.header ul a {
    display: block;
    padding: 20px;
    border-right: none;
    text-decoration:none;
    text-align: center;
    border-bottom: 1px solid #9c845f;
    font-size: 1.4em;
     font-family: 'Raleway';
    color:black;
  
 

}

.header ul a:hover {
   color: #9c845f;
    text-decoration: none;
    transition: 0.6s;
}


.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 45px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 350px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}



/* forside
-----------------------------------------------------------------------------*/

.smooth {
            display: block;
            text-decoration: none;
            text-align: center;
            padding: 1.5em 3em;
            width: 10em;
            border-radius: 1.5em;
            color: white;
            background-color: grey;
/*            transition-property: background-color; */
            transition-duration: 0.3s;
        }

        .smooth:hover,
        smooth:focus {
            background-color: grey;
        }

#knap {padding-left:25%;
padding-top:5%;
}

#knap i {font-size:1.8em;}


article img {
    padding: 0.1em;

}

#collage {padding-top:5%;}

p {
    padding: 0.4em 0;
}



footer {
    height: auto;
    background-color: #333333;
    border-top: 2px solid #9c845f;
    padding: 2px;
   
}




#footer-text {
    font-size: 14px;
    font-family: 'Raleway';
    padding: 35px;
     color: white;
}



#arrow {
    width:80px;
    margin-top: 1.3%;
    margin-bottom: 2%;
}


    
    footer {
        text-align: center;
    }





/* media only screnn part 1
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 320px) {
     

    .fa {
 padding: 20px;
  font-size:20px;
  width: 20px;
    height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 15px 2px;
  border-radius: 50%;

  
}
    
    #sociale_medier_ikoner {margin-left:8%;}
    
   

  .header #logo {width:120px;
    margin-top:-5%;}
    
   
  

    
    
    h1 {
        text-align: center;
        padding-bottom: 5%;
         padding-top: 5%;
        font-size: 2em;
        font-family: 'Raleway';
    }

  
 
       #article1 h3 {font-size:1.2em;
            padding-left:3%;
                       padding-right:3%;
            text-align: center;

    }
        

    


    
    /* media only screnn part 2
-----------------------------------------------------------------------------*/

    @media only screen and (min-width: 375px) {
    
      
        #sociale_medier_ikoner {margin-left:15%;}
        
          .header #logo {width:200px;
              padding-top:8.5%;
              padding-left:2%;
}
        

        


        }

   
    @media only screen and (min-width: 480px) {
        
       
        #sociale_medier_ikoner {margin-left:22%;}
        
    
.header #logo {width:135px;
}
    
        
}


    /* media only screnn part 4
-----------------------------------------------------------------------------*/

        @media only screen and (min-width: 600px) {
            

.header #logo {width:135px;
    margin-top:-4%
    
            }
}

        
    @media only screen and (min-width: 768px) {
              

    
         #sociale_medier_ikoner {margin-left:33%;}
    
     .header #logo {width:130px;
        margin-top:-2.8%;}
        
          

        h1 {
       
        font-size: 3em;

    }

   
}
            
           
   
    /* media only screnn part 5
-----------------------------------------------------------------------------*/

@media only screen and (min-width: 1000px) {
    
   
    .header li {
        float: left;
    }
    
    .header {height:115px;}

    .header li a {
        padding: 43px 30px;
        font-size: 1.4em;
        color:white;
    }

    .header ul {
        background-color: transparent;
    }

    .header ul a {
        border-bottom: none;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
    

     #sociale_medier_ikoner {padding-left:7.8%;}



  .header #logo {
              padding-top:3.5%;
              padding-left:2%;
}
        
    
    
    
    
        
       
    
    .header ul {
        background-color: transparent;
    }

    .header ul a {
        border-bottom: none;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    
        #sociale_medier {padding-left:21%;}
   
        
      
}
        

    
/* media only screnn part 6
-----------------------------------------------------------------------------*/
    @media only screen and (min-width: 1300px) { 
        
    
        .header #logo {width:165px;
    margin-top:-1.8%;}

        
}

    @media only screen and (min-width: 1900px) {
        #wrapper {
            width: 1900px;
            margin: 0 auto;
        } 
        
        
}
