/* Based on template from csslayoutgenerator.com */

body {
    font: 12px/18px'Raleway', cursive;
    background-color: #EFEFEF;

}


.collage {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-gap:2.5px;
}

strong {
    font-weight: bold;
}

h1,
h2,
h4,
h5,
h6 {
    font-weight: bold;
}



h2 {
    font-size: 2em;
    padding: 1em 0em;
    padding-bottom: 5%;
    font-family: 'Raleway', cursive;

}



img {
    width: 100%;

    
}



a.smoothScroll {
    display:inline;
    padding: 12px 16px;
}



/* Header - kun til forsiden
-----------------------------------------------------------------------------*/

.header {
     background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.header ul {
    list-style: none;
    overflow: hidden;
    background-color: #EFEFEF;
    

}

.header ul a {
    display: block;
    padding: 20px;
    border-right: none;
    text-decoration:none;
    text-align: center;
    font-size: 1.4em;
     font-family: 'Raleway';
    color:black;
    border-bottom: 1px solid black;

  
 

}

.header ul a:hover {
   color: black;
    text-decoration: none;
    transition: 0.6s;
}


.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 45px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 2px;
    width: 20px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 350px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}



/* Header - til undersiderne
-----------------------------------------------------------------------------*/

.header_underside {
    background-color: #333333;
    position:relative;
    width: 100%;
    z-index: 3;
      border-bottom: 2px solid grey;
}

.header_underside ul {
    list-style: none;
    overflow: hidden;
    background-color: white;

}

.header_underside ul a {
    display: block;
    padding: 20px;
    border-right: none;
    text-decoration:none;
    text-align: center;
    border-bottom: 1px solid grey;
    font-size: 1.4em;
     font-family: 'Raleway';
    color:black;
  
 

}

.header_underside ul a:hover {
   color: grey;
    text-decoration: none;
    transition: 0.6s;
}


.header_underside .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header_underside .menu-icon {
    padding: 45px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header_underside .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 2px;
    width: 20px;
    position: relative;
    transition: background .2s ease-out;
}

.header_underside .menu-icon .nav-icon:before {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header_underside .menu-icon .nav-icon:after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header_underside .menu-btn {
    display: none;
}

.header_underside .menu-btn:checked ~ .menu {
    max-height: 350px;
}

.header_underside .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header_underside .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header_underside .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}



/* forside
-----------------------------------------------------------------------------*/

.smooth {
            display: block;
            text-decoration: none;
            text-align: center;
            padding: 1.5em 3em;
            width: 10em;
            border-radius: 1.5em;
            color: #4D6186;
            background-color: #E5E5E5;
            transition-duration: 0.3s;
        }

        .smooth:hover,
        smooth:focus {
            opacity: 79%;
        }




article img {
    padding: 0.1em;

}

#article1 {background-color: #4D6186;
color:white;}



p {
    padding: 0.4em 0;
}





.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  min-width: 373px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  opacity:2;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}


/* mobile version
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 320px) {
     

  .header #logo {width:120px;
    margin-top:-5%;}
    
    
  .header_underside #logo {width:120px;
    margin-top:-5%;}
    
    h1 {
        text-align: center;
        padding-bottom: 5%;
         padding-top: 5%;
        font-size: 2em;
        font-family: 'Raleway';
    }
 
}
   

    
    /* mobile version part 2
-----------------------------------------------------------------------------*/

    @media only screen and (min-width: 375px) {
        
        
        #knap {padding-left:25%;
padding-top:5%;
    padding-bottom: 5%;
}

#knap i {font-size:1.8em;}
        
    
        #article1 h3 {font-size:1.5em;
        padding:1em;} 
        
        
        
        
        article img {
    padding: 0em;
        max-width:100%;}
        
    
        
        .image {
  
  min-width: 375px;
        }
        
      
        
          .header #logo {width:200px;
              padding-top:8.5%;
              padding-left:2%;
}
        
          .header_underside #logo {width:200px;
              padding-top:8.5%;
              padding-left:2%;
}
        
        #collage {display:block;}

#collage_2 {display: block;}
        
   
        }

   
    @media only screen and (min-width: 480px) {
        
        
.header #logo {width:135px;
}
        
        .header_underside #logo {width:135px;
}
    
        
}


    /* media only screnn part 4
-----------------------------------------------------------------------------*/

        @media only screen and (min-width: 600px) {
            

.header #logo {width:135px;
    margin-top:-4%
    
            }
            
            
            .header_underside #logo {width:135px;
    margin-top:-4%
    
            }
}

        
    @media only screen and (min-width: 768px) {
              

    
     .header #logo {width:130px;
        margin-top:-2.8%;}
        
            
     .header_underside #logo {width:130px;
        margin-top:-2.8%;}
        
          

        h1 {
       
        font-size: 3em;

    }

   
}
            
           
   
    /* desktop - forside 
-----------------------------------------------------------------------------*/

@media only screen and (min-width: 1000px) {
    
    #trustpilot {display: flex;} 
    
    #trustpilot_box {width:50%;
    text-align: center;
    background-color: aquamarine;}
    
    
    #trustpilot_billede {
        width:30%;
    }
    
    #anbefaling {background-color: aqua;
    width:50%;}
    
    #anbefaling h4 {font-size:1em;
    padding:2em;
    line-height: 1.8em;
      font: 12px/18px'Raleway', cursive;}
    
    #knap {padding-left:43%;
padding-top:5%;
    padding-bottom: 5%;
}

#knap i {font-size:1.8em;}
    
    
       #article1 h3 {font-size:1.5em;
        padding-left:10em;
     padding-right:10em;} 
    
    
   
    .header li {
        float: left;
    }
    
    .header {height:115px;}

    .header li a {
        padding: 43px 30px;
        font-size: 1.4em;
        color:white;
    }

    .header ul {
        background-color: transparent;
    }

    .header ul a {
        border-bottom: none;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
    

  .header #logo {
              padding-top:3.5%;
              padding-left:2%;
}
           
    
    .header ul {
        background-color: transparent;
    }

    .header ul a {
        border-bottom: none;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
    
    
    
    
    
    
    
    
    
    
    
    .header_underside li {
        float: left;
    }
    
    .header_underside {height:90px;}

    .header_underside li a {
        padding: 35px 30px;
        font-size: 1.4em;
        color:white;
    }

    .header_underside ul {
        background-color: transparent;
    }

    .header_underside ul a {
        border-bottom: none;
    }

    .header_underside .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header_underside .menu-icon {
        display: none;
    }
    

  .header_underside #logo {
              padding-top:3.5%;
              padding-left:2%;
}
           
    
    .header_underside ul {
        background-color: transparent;
    }

    .header_underside ul a {
        border-bottom: none;
    }

    .header_underside .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header_underside .menu-icon {
        display: none;
    }
        
     /* desktop - ydelser
-----------------------------------------------------------------------------*/      
     .flex-container {
  display: flex;
   
}

.flex-container > #luftfoto_tekst {
     border: 1px solid black;
  margin-left: 0px;
    margin-right:5em;
  padding: 20px;
width:90%;
} 
    
    #luftfoto_tekst i {
        font-size:1.5em;
    }
    
    .flex-container #pris {
border: 1px solid black;  
        border-right: 1px solid white;  
        margin: 0px;
        margin-left:5em;
  padding: 20px;

        width:10%;
} 
    
    #pris i {
        font-size: 3em;
    }
}
        

    
/* media only screnn part 6
-----------------------------------------------------------------------------*/
    @media only screen and (min-width: 1300px) { 
        
    
        .header #logo {width:165px;
    margin-top:-1.8%;}
        
        
        .header_underside #logo {width:165px;
    margin-top:-1.8%;}


        
}

    @media only screen and (min-width: 1900px) {
        #wrapper {
            width: 1900px;
            margin: 0 auto;
        } 
        
        
}
